

{% extends 'base.html' %}

  {% block content %}
    <div>
      <div class="container pt-4">
        <div class="row p-0 mt-4">
          <div class ="col-lg-4 mx-auto shadow p-0" >
            <div class="alert alert-info">
              <h2>Add new ToDo</h2>
            </div>
            <div class="p-4">
              <form action="/add-todo/" method="POST">
                {{form.as_p}}
                {% csrf_token %}
                <hr>
                <input class="btn btn-info" type="submit" value="ADD" class=" btn btn-info ">
              </form>
            </div> 
          </div>

          

        <div class="col">
          <div class="border">

                {% if todos|length == 0 %}

              <div class="p-4">
                <br>
                <br>
                <div class="alert alert-info text-center"></div>
                  <p class='' style="font-size:px"> No ToDos</p>
                </div>
                <br>
                <br>
              </div>
              
            {% else %}
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>title</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for todo in todos %} 
                <tr>

                  <td>{{forloop.counter}} </td>
                  <td>{{todo.title}} </td>
                  <td>{{todo.status}} </td>
                  <td>{{todo.priority}} </td>

                  <td> 
                    <a href="/delete-todo/{{todo.id}}" title="Delete" class="">🗑️</a> 

                    {% if todo.status == "P" %}
                    <a href="/change-status/{{todo.id}}/C" title="mark completed" class="">✅</a>

                    {% else %} 
                    <a href="/change-status/{{todo.id}}/P" title="mark pending" class="">🕒</a>

                    {% endif %}
                  </td>
                  
                </tr>
                  {% endfor %}    
                </tbody>
              </table>
            </div>

            {% endif %}

            </div>
          </div>
        </div>    
      </div>
    </div>
  {% endblock %}
 

    
 